* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 1rem;
}

body {
	min-height: 100vh;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	list-style: none;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100vh;
}

.section {
	background-color: rgb(205, 46, 46);
	border: 1px solid blue;
	flex: 1;
	/* padding: 1rem 0.5rem; */
}

.Header {
	padding: 1rem;
	background-color: #007bff;
}

footer {
	background-color: #ff0000;
	text-align: center;
	padding: 20px;
	color: white;
}

a {
	text-decoration: none;
	color: #222;
	transition: all 0.4s ease;
}

a:hover {
	color: var(--color-brand);
}

/* card style */

.cardStyle {
	background: #000;
	color: white;
	padding: 2rem;
	border-radius: 2rem;
	/* width: calc(100% - 100px);
  max-width: 500px; */
	margin: 2rem;
	text-align: left;
}

/* .search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
} */

/* button {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  outline: none;
  border: none;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #7c7c7c2b;
  color: white;
  transition: all .3s ease-in-out;
} */

/* button:hover {
  background-color: #7c7c7c6b;
} */

input.search-bar {
	border: none;
	outline: none;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 15px;
	background-color: #7c7c7c2b;
	color: white;
	/* flex: 1; */
}

input.search-bar:focus {
	border: none;
	outline: none;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 15px;
	background-color: #7c7c7c2b;
	color: white;
	outline: 0;
	box-shadow: none;
	/* flex: 1; */
}

h1.temp {
	margin: 0;
	margin-bottom: 0.5rem;
}

.d-flex {
	display: flex;
	align-items: center;
}

.description {
	margin-left: 0.5rem;
}

@media (max-width: 380px) {
	.search {
		display: flex;
		flex-direction: column;
	}

	.cardStyle {
		padding: 2rem 2rem;
		margin: 1rem auto;
	}
}

.label {
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 1.2;
	margin: 10px 0;
}

.nav-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.grid {
	display: grid;
	gap: 20px;
}

.cont {
	width: 100%;
	max-width: 1200px;
	padding: 50px;
}

.nav-links {
	display: flex;
	gap: 10px;
	justify-content: flex-start;
	align-items: center;
}

.nav-links li {
	margin-right: 20px;
	font-weight: bold;
}

.two-col-grid {
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.btn {
	padding: 10px 20px;
	color: white;
	background-color: rgb(0, 123, 255);
	outline: none;
	border: none;
	margin: 0;
	text-decoration: none;
	cursor: pointer;
}

.btn:hover {
	background-color: aqua;
	box-shadow: 3px 8px rgba(0, 123, 255, 0.2);
}

#emma {
	padding: 10px 20px;
	color: white;
	background-color: rgb(0, 123, 255);
	outline: none;
	border: none;
	margin: 0;
	text-decoration: none;
	cursor: pointer;
}

#emma:hover {
	background-color: aqua;
	box-shadow: 3px 8px rgba(0, 123, 255, 0.2);
}
